doctype html
html(lang="en")
  head
    title myip.blue - Because IP addresses are blue!
    style.
      body {
        font-family: Verdana;
        text-size-adjust: 80%;
      }
      .blue {
        color: #0000CC;
      }
      .code {
        font-family: Courier New;
        font-weight: bold;
        color: #0000CC;
      }
      .bold {
        font-weight: bold;
      }
      
  body
    h1 myip.blue - Because IP addresses are blue!
    h1 Your public IP address: 
      span.blue(style="display:inline") #{clientIp}
    table(style='font-size:14px; border:thin solid; border-collapse:collapse; border-color:#0000CC')
      tr
        td(colspan='2', style='border:thin solid; border-color:#0000CC; background-color:#CCCCFF; font-weight:bold') 
          | Client Headers
      each val, index in headers
        tr
          td(style='border:thin solid; border-color:#0000CC')= index
          td(style='border:thin solid; border-color:#0000CC')= val
      tr
        td(colspan='2', style='border:thin solid; border-color:#0000CC; background-color:#CCCCFF; font-weight:bold') 
          | Connection
      each val, index in connection
        tr
          td(style='border:thin solid; border-color:#0000CC')= index
          td(style='border:thin solid; border-color:#0000CC')= val
      //- if (connection.protocol == 'https')
      //-  tr
      //-    td(style='border:thin solid; border-color:#0000CC') sharedSigalgs
      //-    td= sharedalgs.join(', ')
    h2 Usage:
    ul 
      li #[span.code myip.blue] is available over http/80 or https/443, and resolves to
        |  ipv4 and ipv6 addresses. 
      li #[span.code v4.myip.blue] only resolves ipv4.
      li #[span.code v6.myip.blue] only resolves ipv6.
      li #[span.code myip.blue/json] returns json-formatted output.
      li #[span.code myip.blue/ip] returns only a text string of the client IP address.
      ul
        li If #[span.code user-agent] begins with '#[span.code curl]' or '#[span.code wget]' at #[span.code /],
          |  the behavior also defaults to the simple text string. For more detailed
          |  information while using curl, use the #[span.code /json] endpoint.
    
    p The #[b only] source for authentic blue IP addresses. 
      |  Hosted by #[a(href="https://alt.org") alt.org]. Dedicated to the real #[a(href="/static/blue.jpg") Blue].
